extends layout

block content
  .card
    h1 Welcome, #{user.firstname} #{user.lastname}!
    p Email: #{user.email}
    p Rating: #{'★'.repeat(user.rating)} 

    .btn-group
      a.btn.btn-primary(href='/book') Book a Ride
      a.btn.btn-success(href='/reviewNew') Add a Review
