doctype html
html
  head    
    title Ride Details
    link(rel="stylesheet" href="styles.css")
  body
    h1 Ride Details                             

    h2 Drivers
    table
      thead
        tr
          th Name
          th Vehicle
          th License Plate
          th Image
      tbody
        tr
          td Usain Bolt
          td Toyota Yaris
          td LK72 2UT
          td: img(src="/usain.png" alt="Usain Bolt" class="profile-img")
        tr
          td Bukayo Saka
          td Vauxhall Astra
          td LG24 2US
          td: img(src="/saka.png" alt="Bukayo Saka" class="profile-img")

    h2 Riders
    table
      thead
        tr
          th Name
          th Pickup Location
          th Destination
      tbody
        tr
          td Mo Farah
          td 65 Maygrove Road, NW6 2DA
          td Roehampton University
        tr
          td Martin Ødegaard
          td Westfield Bush
          td Roehampton University
        tr
          td Declan Rice
          td G-Tech Stadium
          td Roehampton University
        tr
          td Kai Havertz
          td Clapham Junction
          td Roehampton University
