doctype html
html
  head    
    title Ride Reviews
    link(rel="stylesheet" href="styles.css")
  body
    h1 Ride Reviews                             

    h2 Reviews for Driver: Bukayo Saka
    table
      thead
        tr
          th User
          th Date
          th Vehicle
          th License Plate
          th Rating
          th Comments
      tbody
        tr
          td Mohamed Farah
          td 12th March 2025
          td Vauxhall Astra
          td LG24 2US
          td ⭐⭐⭐⭐⭐
          td "Excellent ride! Very smooth and professional."
        tr
          td Martin Ødegaard
          td 10th March 2025
          td Vauxhall Astra
          td LG24 2US
          td ⭐⭐⭐⭐☆
          td "Comfortable ride, but slight delay due to traffic."
        tr
          td Declan Rice
          td 7th March 2025
          td Vauxhall Astra
          td LG24 2US
          td ⭐⭐⭐⭐⭐
          td "Great experience! Would book again."
        tr
          td Kai Havertz
          td 5th March 2025
          td Vauxhall Astra
          td LG24 2US
          td ⭐⭐⭐⭐⭐
          td "The best ride ever! Arrived ahead of schedule."

    h2 Reviews for Driver: Usain Bolt
    table
      thead
        tr
          th User
          th Date
          th Vehicle
          th License Plate
          th Rating
          th Comments
      tbody
        tr
          td Mohamed Farah
          td 11th March 2025
          td Toyota Yaris
          td LK72 2UT
          td ⭐⭐⭐⭐⭐
          td "Fastest ride ever! Reached my destination in record time."
        tr
          td Martin Ødegaard
          td 9th March 2025
          td Toyota Yaris
          td LK72 2UT
          td ⭐⭐⭐⭐☆
          td "Very good service, just a little bumpy at times."
        tr
          td Declan Rice
          td 6th March 2025
          td Toyota Yaris
          td LK72 2UT
          td ⭐⭐⭐⭐⭐
          td "Amazing ride, highly recommend!"
        tr
          td Kai Havertz
          td 4th March 2025
          td Toyota Yaris
          td LK72 2UT
          td ⭐⭐⭐⭐☆
          td "Very good ride, but needed better AC."
