html 
    head    
        title Ride Details
    body
        h1 Ride 
        p Ride details: 
        p Destination: University Campus
        p Driver: Sake Tanaka
        p Vehicle: Toyota Prius AB12 CDE
        p Date & Time: 12th March 2025 at 10:00 AM
