doctype html
html
  head    
    title Driver Profiles
    link(rel="stylesheet" href="styles.css")
  body
    h1 Driver Profiles                             

    h2 Driver Profile: Usain Bolt
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Usain Bolt
        tr
          td Vehicle
          td Toyota Yaris
        tr
          td License Plate
          td LK72 2UT
        tr
          td Completed Rides
          td 250
        tr
          td Average Rating
          td ⭐⭐⭐⭐⭐ (4.9)

    h2 Driver Profile: Bukayo Saka
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Bukayo Saka
        tr
          td Vehicle
          td Vauxhall Astra
        tr
          td License Plate
          td LG24 2US
        tr
          td Completed Rides
          td 180
        tr
          td Average Rating
          td ⭐⭐⭐⭐⭐ (4.8)
