doctype html
html
  head    
    title User & Driver Profiles
    link(rel="stylesheet" href="styles.css")
  body
    h1.text-center Rideshare Platform Profiles                             

    // =======================
    // DRIVER PROFILES SECTION
    // =======================
    h2.text-center Driver Profiles

    .driver-profile
      h3 Driver: Usain Bolt
      table
        thead
          tr
            th Attribute
            th Information
        tbody
          tr
            td Name
            td Usain Bolt
          tr
            td Vehicle
            td Toyota Yaris
          tr
            td License Plate
            td LK72 2UT
          tr
            td Completed Rides
            td 250
          tr
            td Average Rating
            td ⭐⭐⭐⭐⭐ (4.9)

    .driver-profile
      h3 Driver: Bukayo Saka
      table
        thead
          tr
            th Attribute
            th Information
        tbody
          tr
            td Name
            td Bukayo Saka
          tr
            td Vehicle
            td Vauxhall Astra
          tr
            td License Plate
            td LG24 2US
          tr
            td Completed Rides
            td 180
          tr
            td Average Rating
            td ⭐⭐⭐⭐⭐ (4.8)


    // =======================
    // PASSENGER PROFILES SECTION
    // =======================
    h2.text-center User Profiles

    .user-profile
      h3 User: Mohamed Farah
      table
        thead
          tr
            th Attribute
            th Information
        tbody
          tr
            td Name
            td Mohamed Farah
          tr
            td Phone Number
            td +44 7890 123456
          tr
            td First Booking Date
            td January 2023
          tr
            td Times Used UniRide
            td 35
          tr
            td Average Rating Given
            td ⭐⭐⭐⭐⭐ (5.0)

    .user-profile
      h3 User: Martin Ødegaard
      table
        thead
          tr
            th Attribute
            th Information
        tbody
          tr
            td Name
            td Martin Ødegaard
          tr
            td Phone Number
            td +44 7890 654321
          tr
            td First Booking Date
            td March 2023
          tr
            td Times Used UniRide
            td 28
          tr
            td Average Rating Given
            td ⭐⭐⭐⭐☆ (4.7)

    .user-profile
      h3 User: Declan Rice
      table
        thead
          tr
            th Attribute
            th Information
        tbody
          tr
            td Name
            td Declan Rice
          tr
            td Phone Number
            td +44 7890 987654
          tr
            td First Booking Date
            td June 2023
          tr
            td Times Used UniRide
            td 40
          tr
            td Average Rating Given
            td ⭐⭐⭐⭐⭐ (5.0)

    .user-profile
      h3 User: Kai Havertz
      table
        thead
          tr
            th Attribute
            th Information
        tbody
          tr
            td Name
            td Kai Havertz
          tr
            td Phone Number
            td +44 7890 456789
          tr
            td First Booking Date
            td August 2023
          tr
            td Times Used UniRide
            td 33
          tr
            td Average Rating Given
            td ⭐⭐⭐⭐☆ (4.8)
