doctype html
html
  head    
    title User List
    link(rel="stylesheet" href="styles.css")
  body
    h1 User Details                             

    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td First Name
          td Mohamed
        tr
          td Surname
          td Farah
        tr
          td Email
          td mofarah@gmail.com
        tr
          td Ratings
          td ⭐⭐⭐⭐
