doctype html
html
  head    
    title User List
    link(rel="stylesheet" href="styles.css")
  body
    h1 User Details                             

    table
      thead
        tr
          th First Name
          th Surname
          th Email
          th Ratings
      tbody
        tr
          td Mohamed
          td Farah
          td mofarah@gmail.com
          td ⭐⭐⭐⭐
        tr
          td Martin
          td Ødegaard
          td ode@gmail.com
          td ⭐⭐⭐⭐
        tr
          td Declan
          td Rice
          td ric@gmail.com
          td ⭐⭐⭐
        tr
          td Kai
          td Havertz
          td hav@gmail.com
          td ⭐⭐⭐⭐⭐
