html 
    head    
        title User Details
    body
        h1 User 
        p User details: 
        p Name: Sake Tanaka
        p Email: sake.tanaka@example.com
        p Address: 42 Cherry Blossom Avenue, Tokyo
