doctype html
html
  head    
    title User Profiles
    link(rel="stylesheet" href="styles.css")
  body
    h1 User Profiles                             

    h2 Driver Profile: Usain Bolt
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Usain Bolt
        tr
          td Vehicle
          td Toyota Yaris
        tr
          td License Plate
          td LK72 2UT
        tr
          td Completed Rides
          td 250
        tr
          td Average Rating
          td ⭐⭐⭐⭐⭐ (4.9)

    h2 Driver Profile: Bukayo Saka
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Bukayo Saka
        tr
          td Vehicle
          td Vauxhall Astra
        tr
          td License Plate
          td LG24 2US
        tr
          td Completed Rides
          td 180
        tr
          td Average Rating
          td ⭐⭐⭐⭐⭐ (4.8)

    h2 User Profile: Mohamed Farah
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Mohamed Farah
        tr
          td Phone Number
          td +44 7890 123456
        tr
          td Joined
          td January 2023
        tr
          td Completed Trips
          td 35
        tr
          td Average Rating Given
          td ⭐⭐⭐⭐⭐ (5.0)

    h2 User Profile: Martin Ødegaard
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Martin Ødegaard
        tr
          td Phone Number
          td +44 7890 654321
        tr
          td Joined
          td March 2023
        tr
          td Completed trips
          td 28
        tr
          td Average Rating Given
          td ⭐⭐⭐⭐☆ (4.7)

    h2 User Profile: Declan Rice
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Declan Rice
        tr
          td Phone Number
          td +44 7890 987654
        tr
          td Joined
          td June 2023
        tr
          td Completed trips
          td 40
        tr
          td Average Rating Given
          td ⭐⭐⭐⭐⭐ (5.0)

    h2 User Profile: Kai Havertz
    table
      thead
        tr
          th Attribute
          th Information
      tbody
        tr
          td Name
          td Kai Havertz
        tr
          td Phone Number
          td +44 7890 456789
        tr
          td Joined
          td August 2023
        tr
          td Completed trips
          td 33
        tr
          td Average Rating Given
          td ⭐⭐⭐⭐☆ (4.8)
