doctype html
html
head
title User List
link(rel="stylesheet" href="/styles.css")
body
h1 User Details

table
thead
tr
th First Name
th Surname
th Email
th Ratings
tbody
each user in users
tr
td= user.firstname
td= user.lastname
td= user.email
td #{'â­'.repeat(user.rating)}